/****** Object:  Database [MyShopDB]    Script Date: 1/1/2024 10:18:56 AM ******/
CREATE DATABASE [MyShopDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShopDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/1/2024 10:18:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [char](3) NOT NULL,
	[FirstName] [nvarchar](30) NULL,
	[LastName] [nvarchar](30) NULL,
	[Email] [char](50) NULL,
	[Phone] [nchar](10) NULL,
	[Address] [nvarchar](50) NULL,
	[Gender] [nchar](10) NULL,
	[Age] [int] NULL,
	[Password] [text] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [Phone], [Address], [Gender], [Age], [Password]) VALUES (N'496', N'Dat', N'Truong', N'dattruong@gmail.com                               ', N'0901234567', N'TP HCM', N'Male      ', 21, N'yXVUkR45PFz0UfpbDB8/ew==')
GO
USE [master]
GO
