<?xml version="1.0" encoding="utf-8" ?>
<packages>
	<package id="Fody" version="6.8.0" targetFramework="net7.0" developmentDependency="true"></package>
	<package id="MouseKeyHook" version="5.7,1" targetFramework="net7.0" />
	<package id="PropertyChanged.Fody" version="4.1.0" targetFramework="net7.0" />
</packages>